<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfAppTateJake.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <WpfAppTateJake.Properties.Settings>
            <setting name="FontSize" serializeAs="String">
                <value>72</value>
            </setting>
            <setting name="FontType" serializeAs="String">
                <value>Meiryo UI</value>
            </setting>
            <setting name="AdjustedSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FontWeight" serializeAs="String">
                <value>標準</value>
            </setting>
        </WpfAppTateJake.Properties.Settings>
    </userSettings>
</configuration>